/* Tour page styles */

table {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

caption {
  color: #ECD393;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

table th, table td {
    margin-left: 25px;
    padding: 10px;
}

table th {
    text-transform: uppercase;
    text-decoration: underline;
}

.pick {
    width: 40px;
    height: 0%;
    padding: 10px;
}
